body {
  text-align: center;
}

h1 {
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}

a {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
  font-weight: bold;
}

.menu {
  background-image: url("../images/the-flatiron-building.png");
}

.content {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}

.design {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url("../images/the-flatiron-building.png");
}

.main {
  font-family: Helvetica;
  font-size: 14px;
}

.copy {
  font-family: Helvetica;
  font-size: 11px;
  color: white;
}

.submenu {
  background-color: dimgray;
  text-align: left;
}
